/* 
    Created on : 24.nov.2017, 12:31:50
    Author     : Magnus
*/
body {
    margin: 0;
    padding: 0;
    background-color: #336699;
    width: 100%;
}


p {
    color:white;
    font-family: sans-serif;
    font-size: 23px;
}


p::first-letter {
    font-size: 200%;
 
}


@media screen and (min-width:1px) and (max-width:1365px) {
    #encrypt {
        max-width: 33vw;
        margin-top: 50px;
        margin-left: 110vh;
        margin-bottom: -35vh;
    }
}


@media screen and (min-width:1px) and (max-width:1366px) {
    #encrypt {
        max-width: 33vw;
        margin-top: 50px;
        margin-left: 110vh;
        margin-bottom: -35vh;
    }
}


@media screen and (min-width:1367px) and (max-width: 1920px){
    #encrypt {
        max-width: 33vw;
        margin-top: 50px;
        margin-left: 120vh;
        margin-bottom: -35vh;
    }
}


@media screen and (min-width:1921px) {
    #encrypt {
        max-width: 33vw;
        margin-top: 50px;
        margin-left: 78vh;
        margin-bottom: -35vh;
    }
}


.toTop {
    font-size: 35px;
    color: whitesmoke;   
}

   

.tittel {
    font-size:65px;
    font-family: sans-serif;
    color: white; 
    text-align: left;
    margin-top: 50px;
    margin-left: 280px;
}


@media screen and (min-width:1px) and (max-width:1365px) {
    .boxIntro {
        display: block;
        width: 700px;
        height: 100px;
        float: left;
        margin: 25px 100px 50px 5%;
    } 
}


@media screen and (min-width:1px) and (max-width:1366px) {
    .boxIntro {
        display: block;
        width: 700px;
        height: 100px;
        float: left;
        margin: 25px 100px 50px 5%;
    } 
}


@media screen and (min-width:1367px) {
    .boxIntro {
        display: block;
        width: 700px;
        height: 100px;
        float: left;
        margin: 25px 100px 50px 10%;
    }
}


#boxProblemBilde{
    background-color: white;
    display: block;
    float: left;
    width: 10%;
    height:380px;
    margin: -180px 25px 0 750px;  
    margin-bottom: 100px;
}


#boxSolutionBilde {
    background-color: white;
    display: block;
    float: left;
    width: 290px;
    height: 380px;
    float: left;
    margin: -180px 25px 0 750px;
    margin-bottom: 100px;
}


h1 {
    font-size:60px;
    font-family: sans-serif;
    color: white;
}


h3 {
    font-size:65px;
    font-family: sans-serif;
    color: white; 
    text-align: center;   
}


div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    text-align: center;
    font-family: sans-serif;
    margin-top: 0; 
}


/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 30px;
    transition: 0.3s;
    display: inline-block; 
    padding: 25px 0 30px 30px;
    padding-right: 60px;     
}


/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */
.contentTab {
    display: none;
    padding: 6px 12px 40%;
    border-top: none;   
}


.row {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1vh;
}


.hehe {
    position: absolute;
    min-width: 390px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


@media (min-width: 600px){
    .hehe{
        left: 35%;  
    }
}


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url("bilder/2.png");
    height: 90vh;
    background-position: center;
    background-size: cover;
}


h1 {
    color: #fff;
    font-size: 4vh;
    font-style: black;
    font-family: 'Lato';
}


h3 {
    font-size: 3vh;
}


.nav {
    margin-right: 1vw;
}


.navbaren {
    list-style: none;
    margin-top: 0.111vh;
    float: right;
}


.navbaren li {
    display: inline-block;
    margin-left: 10px;  
}


.navbaren li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.9vh;
    font-weight: bold;
}


.navbaren li a:hover {
    color: #07889B;
}


.logo img {
    height: 220px;
    width:220px;
    float: left;
    margin-top: 25px;
    margin-left: 0px;
    color: #33ffff;
    margin-bottom: 50px;

}


.store img {
    height: 6vh;
}


.img img {
    border-radius: 12px;
    position: absolute;
}


.bilderTab img {
    max-width: 33vw;
    margin-top: 50px;
}


h3:after { 
    width: 100px;
    height: 2px;
    background-color: #07889B;
    display: block;
    content: "";
    margin: 0 auto;
    margin-top: 30px;
}


.funk h3 {
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}


@media (min-width: 900px) {
    .skill-container{
        display: flex;
        justify-content: space-between;
    }
}


.footer-main {
    display: flex;
    background-color: #003366;
    color: #fff;
}


.fot {
    padding: 1px;
    margin-left: 1vw;
}


.oss-bilde {
    max-width: 17vh;
}


.bilder {
    width: 10px;
}


.imgg img {
    display: block;
    float: left;
}